version: 2.1

orbs:
  codecov: codecov/codecov@1.0.5

commands:
  install-tap2junit:
    steps:
      - run: sudo apt-get install -y libtap-formatter-junit-perl

  install-bats:
    steps:
      - run: npm install -g bats

  install-kcov:
    steps:
      - run:
          command: |
            sudo apt-get install binutils-dev libcurl4-openssl-dev zlib1g-dev libdw-dev libiberty-dev
            git clone https://github.com/SimonKagstrom/kcov
            mkdir -p kcov/build
            cd kcov/build
            cmake \
              -DCMAKE_BUILD_TYPE=Release \
            make -j2 || exit 1
            make install

  run-coverage:
    steps:
      - run: kcov --include-path=. coverage bats ./test_ghd.sh
      - codecov/upload:
        file: coverage

  run-bats:
    steps:
      - run:
          command: |
            mkdir -p ~/test-results
            bats --tap ./test_ghd.sh | tee ~/test-results/results.tap
            if [ -f ~/test-results/results.tap ]; then
              cd ~/test-results/example && tap2junit results.tap
            fi
      - store_test_results:
          path: ~/test-results


executors:
  bats:
    docker:
      - image: cimg/base:2020.01

jobs:
  run-bats:
    executor: bats
    steps:
      - install-bats
      - install-tap2junit
      - checkout
      - run-bats

  run-coverage:
    executor: bats
    steps:
      - install-bats
      - install-kcov
      - checkout
      - run-coverage


workflows:
  version: 2.1
  test:
    jobs:
      - run-bats
      - run-coverage
