version: 2.1

orbs:
  codecov: codecov/codecov@1.0.2

commands:
  install-coverage:
    steps:
      - run: sudo apt-get install kcov
  run-coverage:
    steps:
      - run: kcov --include-path=. coverage bats ./test_ghd.sh
      - codecov/upload:
        file: coverage
      - store_artifacts:
        path: coverage

  install-bats:
    steps:
      - run: sudo add-apt-repository ppa:duggan/bats
      - run: sudo apt-get update
      - run: sudo apt-get install bats
  run-bats:
    steps:
      - run: bats ./test_ghd.sh

executors:
  bats:
    docker:
      - image: cimg/base:2020.01

jobs:
  run-bats:
    executor: bats
    steps:
      - checkout
      - install-bats
      - run-bats

workflows:
  version: 2.1
  test:
    jobs:
      - run-bats
